@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'Pixelify Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  background-color: #292929;
  color: whitesmoke;
}
.board-selector {
  display: flex;
  align-items: center;
  gap: 5px;
}
.board-selector input {
  width: 40px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.board-selector button {
  padding: 4px 8px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
/* Animation to be added */
.screen-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 25px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.screen-toggle img {
  width: 25px;
  height: 25px;
}


/* Tool Bar */
.tool-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2c2c2c;
  padding: 5px 0;
  color: white;
  width: 55px;
  height: auto;
  position: fixed;
  top: 15%;
  left: 0.5%;
  border-radius: 10px;
  border-right: 2px solid black;
  gap: 10px;
}
.tools-main {
  background-color: #666;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  width: 45px;
  height: 45px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
/* Animations to be done */

.sub-bar{
  position: absolute;
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #444;
  padding: 10px;
  height: auto;
  width: 55px;
  border-radius: 10px;
  border-right: 2px solid black;
}
.tools{
  background-color: #666;
  border: 1px solid black;
  width: 45px;
  height: 45px;
  aspect-ratio: 1/1;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
#pen-menu-items{
  display: none;
}
#shape-menu-items{
  display: none;
}
#color-menu-items{
  display: none;
}

#image-menu-items{
  display: none;
}
.sub-bar2{
  position: absolute;
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #444;
  padding: 10px;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  border-right: 2px solid black;
}
#image-menu-items input[type="file"] {
  display: none;
}
#image-menu-items label {
  background-color: #666;
  border: 1px solid black;
  width: 150px;
  height: 30px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* Action history buttons */
.action-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2c2c2c;
  padding: 5px 0;
  color: white;
  width: 55px;
  height: auto;
  position: fixed;
  top: 57%;
  left: 0.5%;
  border-radius: 10px;
  border-right: 2px solid black;
  gap: 12px;
}
.action-tools {
  background-color: #777;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.action-tools img {
  width: 20px;
  height: 20px;
}
/* Animation to be added */

/* Main content */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #eaeaea;
  overflow: hidden;
  margin-left: 80px;
}

#whiteboard {
  flex: 1;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
}